<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Metrics</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Smokey & Lemoneh</h1>
        <h4>Access this page on your phone: <a href="http://{{ ip_address }}:5000">http://{{ ip_address }}:5000</a></h4>
    </header>
    <div class="container">
        <div class="card">
            <h2>CPU</h2>
            <p>Usage: <span id="cpu-usage">Loading...</span>%</p>
            <p>Current: <span id="cpu-frequency-current">Loading...</span> MHz</p>
            <p>Max: <span id="cpu-frequency-max">Loading...</span> MHz</p>
            <p>Temperature: <span id="cpu-temperature">Loading...</span>°C</p>
        </div>
        <div class="card">
            <h2>RAM</h2>
            <p>Usage: <span id="ram-usage">Loading...</span>%</p>
            <p>Total: <span id="ram-total">Loading...</span> GB</p>
            <p>Free: <span id="ram-free">Loading...</span> GB</p>
            <button id="clear-cache">Clear Cache</button>
            <p id="loading-message" class="loading-message" style="display: none;">Please wait, clearing memory...</p>
        </div>
        <div class="card">
            <h2>Disk</h2>
            <p>Usage: <span id="disk-usage">Loading...</span>%</p>
            <p>Free Space: <span id="disk-free">Loading...</span> GB</p>
            <button id="clear-temp-files">Clear Temp Files</button>
            <p id="disk-loading-message" class="loading-message" style="display: none;">Please wait, clearing temporary files...</p>
        </div>
        <div class="card">
            <h2>GPU</h2>
            <p>Name: <span id="gpu-name">Loading...</span></p>
            <p>Temperature: <span id="gpu-temperature">Loading...</span>°C</p>
            <p>Utilization: <span id="gpu-utilization">Loading...</span>%</p>
        </div>
        <div class="card">
            <h2>Internet Speed</h2>
            <p>Download: <span id="down-speed">...</span></p>
            <p>Upload: <span id="up-speed">...</span></p>
            <p>Ping: <span id="ping">...</span></p>
            <button id="start-speed-test">Start Speed Test</button>
            <p id="speed-test" class="loading-message" style="display: none;">Please wait, testing the connection...</p>
        </div>
        <div class="card">
            <h2>Volume Controls</h2>
            <button id="increase-volume">+ 5%</button>
            <button id="decrease-volume">- 5%</button>
            <button id="mute">Mute</button>
            <button id="unmute">Unmute</button>
        </div>
    </div>
    
    <script src="/static/script.js"></script>
</body>
</html>
